@charset "UTF-8";
/*
!----------------------- Обнуляющий стиль --------------------!
*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
/*
!---------------------- body -------------------!
*/
body {
  font-family: "Space Mono";
  font-weight: 700;
}

.u-container {
  max-width: 1150px;
  padding: 0px 20px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  width: 180px;
  height: 53px;
  border: 3px solid #FCB72B;
  background: #FCB72B;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.btn:hover {
  background: transparent;
  color: #FCB72B;
}

/*
!---------------------header--------------------!
*/
body {
  position: relative;
  height: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  -moz-column-gap: 58.18px;
       column-gap: 58.18px;
}
.header__burger {
  display: none;
  align-items: center;
  width: 19.69px;
  height: 16px;
  position: relative;
  cursor: pointer;
}
.header__burger span {
  display: flex;
  width: 19.69px;
  height: 3.69px;
  background: #fcb72b;
}
.header__burger::before, .header__burger::after {
  content: "";
  display: flex;
  height: 3.69px;
  width: 19.69px;
  background: #fcb72b;
  position: absolute;
  left: 0px;
  transition: 0.5s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.header__list ul {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header__list a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  transition: 0.5s;
}
.header__list a:hover {
  color: #FCB72B;
}
@media (max-width: 668px) {
  .header__container {
    justify-content: center;
  }
  .header__burger {
    display: flex;
    position: absolute;
    left: 20px;
  }
  .header__burger-visible span {
    display: none;
  }
  .header__burger-visible::after {
    transform: rotate(135deg);
    top: 50%;
  }
  .header__burger-visible::before {
    transform: rotate(-135deg);
    top: 50%;
  }
  .header__nav {
    position: absolute;
    flex-direction: column;
    z-index: 2;
    background: #333A44;
    min-height: 100vh;
    top: 73px;
    left: -290px;
    padding: 64px 31px 97px 33px;
    align-items: start;
  }
  .header__nav-visible {
    left: 0px;
  }
  .header__list ul {
    flex-direction: column;
    row-gap: 24px;
  }
}
/*
!---------------------hero--------------------!
*/
.hero {
  background: url("../img/image/hero-bg.jpg") 0px 0px no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #2F3B59;
  opacity: 0.75;
  z-index: 0;
}
.hero__container {
  position: relative;
  display: flex;
  padding-top: 153px;
  padding-bottom: 153px;
  position: relative;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.hero__left {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: end;
  row-gap: 40px;
}
.hero__left h1 {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
.hero__left-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 405px;
}
.hero__left-content-text {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}
.hero__arry-tail {
  display: flex;
  height: 15px;
  background: #FCB72B;
  width: 100%;
  position: absolute;
  top: 353px;
  left: -1072px;
}
.hero__right {
  display: flex;
  align-items: end;
}
@media (max-width: 941px) {
  .hero__container {
    padding-top: 137px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  .hero__left {
    width: 573px;
    text-align: center;
    row-gap: 24px;
  }
  .hero__left-content {
    width: 100%;
    align-items: center;
    row-gap: 32px;
  }
  .hero__right {
    height: 140px;
    position: relative;
  }
  .hero__right-image {
    position: absolute;
    top: 0;
    left: -500px;
  }
}
@media (max-width: 641px) {
  .hero__container {
    padding-top: 115px;
    padding-bottom: 34px;
  }
  .hero__left {
    width: 100%;
  }
  .hero__left h1 {
    font-size: 40px;
  }
}
/*
!---------------------sevices--------------------!
*/
.services {
  margin-top: 160px;
}
.services__container {
  position: relative;
}
.services__container ul {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: relative;
}
.services__container li {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.services__container h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.services__container p {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.services__line {
  width: 5000px;
  height: 15px;
  background: #E5ECF4;
  position: absolute;
  top: 41.5px;
  right: 30.3%;
}
.services__container-image {
  display: flex;
  width: 96px;
  height: 96px;
  background-color: #FCB72B;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.services__container-text {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media (max-width: 941px) {
  .services__container {
    display: flex;
    justify-content: center;
  }
  .services__container ul {
    flex-direction: column;
    row-gap: 40px;
    width: 74.61%;
  }
  .services__container li {
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 13%;
         column-gap: 13%;
  }
  .services__container-image {
    min-width: 96px;
  }
  .services__container-text {
    row-gap: 27px;
  }
  .services__line {
    left: 19%;
    top: auto;
    bottom: 15%;
    width: 15px;
    height: 700px;
    z-index: -1;
  }
  .services {
    margin-top: 122px;
  }
}
@media (max-width: 588px) {
  .services__line {
    display: none;
  }
  .services__container li {
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 24px;
  }
  .services__container-text h2 {
    font-size: 20px;
  }
}
/*
!---------------------facilities--------------------!
*/